body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

#title {
    height: 90%;
    overflow: hidden;
}

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

h1, h3 {
    font-weight: 900;
    font-size: 3.5rem;
    size: 3rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 7% 15%;
}

/* sections */

.colored-section {
    background-color: #ff4c68;
    color: white;
}

.white-section {
    background-color: white;
}

/* navigation bar */

.navbar {
    padding: 0 0 4.5rem;
    margin: 0px;
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
    font-size: 1.2rem;
    font-weight: lighter;
}

.fa-brands {
    margin-right: 0.625rem;
}

/* download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* title image */

.iphone {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* features */

#features {
    position: relative;
}

.features-logo {
    font-size: 4.5rem;
    padding: 1.3rem 0;
    color: #ef8172;
    transition: color 0.5s;
}

.cards>h3 {
    font-size: 1.5rem;
    font-weight: 750;
}

.cards>p {
    color: #8f8f8f;
    padding: 0 2.4rem;
}

.features-logo:hover {
    color: #ff4c68;
}

/* testimonials section  */

#testimonials {
    background-color: #ef8172;
}

.testimonial-text{
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section  */

#pricing {
    padding: 8rem;
}

.pricing-heading{
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 500;
}

.pricing-column {
    padding: 3% 2%;
}

/* call to action section */

/* footer section */

#footer{
    padding: 10%;    
}

#footer>p{
    font-weight: 500;
    color: #8f8f8f;
}

.social-icons>i{
    margin: 10px 10px 20px;
}


@media (max-width: 991px) {

    #title{
        text-align: center;
    }

    .iphone{
    transform: rotate(0deg);
    position: static;
    }
}