*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
============
font families     
============
   
---------------------------------------

font-family: 'Nixie One', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Pattaya', sans-serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Petit Formal Script', cursive;

---------------------------------------
*/

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.options{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:black;
    
}

.options a{
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Nixie One', cursive;
    color: white;
}

.active-li{
    background-color: white;
}

.active{
    font-family: 'Nixie One', cursive;
    font-size: 1.3rem;
    color: black;
    font-weight: normal;
}