*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
============
font families     
============
   
---------------------------------------

font-family: 'Nixie One', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Pattaya', sans-serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Petit Formal Script', cursive;

---------------------------------------
*/

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: black;
}

.nav-bar p{
  display: none;
}

.burger{
    display: none;
    top: 1.75rem;
    right: 2rem;
    z-index: 2;
    margin: auto;
  }

.nav-bar ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.options{
    /* height: 100%; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background:black;
    
}

.options a{
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Nixie One', cursive;
    color: white;
}

@media only screen and (max-width:1200px) {
  .nav-bar{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateX(-100%);
  }
  .navbar p{
    display: flex;
    color: white;
    font-family: 'Nixie One', cursive;
    font-size: 4rem;
    flex-basis: 40%;
    text-align: right;
  }
  .nav-bar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 40%;
  }  
  .nav-bar li{
    font-size: 3rem;
    text-align: left;
    margin:1rem 0rem ;
  }
  .nav-bar li a{
    font-size: 3rem;
    text-align: left;
  }
  .nav-bar p{
    display: flex;
    color: white;
    font-family: 'Nixie One', cursive;
    font-size: 4rem;
    flex-basis: 40%;
    text-align: right;
  }
  .burger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 80%;
    margin: auto;
    padding:2rem 0rem;
    justify-content: center;
    align-items: flex-end;
  }

  .line{
    width: 40px;
    height: 3px;
    border-radius: 50px;
    background-color: black;
    margin: 4px;
  }
}