*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Monda', sans-serif;
}

.colors{
    display: flex;
}

.color{
    height: 80vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.color h2{
    font: 3rem;
    margin-top: 4rem;
}

.buttons{
    display: flex;
    flex-direction: column;
    margin: 6rem 1rem;
}

.buttons button{
    margin: 1rem 1rem;
    font-size: 2rem;
    background: none;
    border: none;
}

footer{
    height: 20vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer div button{
    font-size: 1.5rem;
    padding:1rem 1.5rem;
    color: white;
    background: rgb(0, 7, 44);
    border-radius: 0.3rem;
    border: none;
}

button{
    cursor: pointer;
}

.fas{
    pointer-events: none;
}

.library-container{
    display: none;
}

.save-container{
    display: none;
}

.fas{
    pointer-events: none;
}

.sliders{
    width: 90%;
    position: relative;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-radius: 0.4rem;
    transform: translateY(70px); 
    opacity: 0;
    transition: all 0.3s ease-in-out; 
    pointer-events: none;
}

.sliders.active{
    transform: translateY(0px); 
    opacity: 1;
    pointer-events: all;
}

.sliders p{
    font-size: 1rem;
    letter-spacing: 2px;
}

.sliders input{
    -webkit-appearance: none;
    border-radius: 1rem;
    height: 1rem;
    width: 100%;        
}

.hue-input{
    margin-top: 0.5rem;
}

.copy-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-in-out;
}
.copy-popup{
    font-size: 1.5rem;
    letter-spacing: 3px;
    background-color: white;
    padding: 6rem;
    border-radius: 0.6rem;
    transform: translateY(30px);
    transition: all 0.4s ease-in-out;
}

.copy-container.active{
    opacity: 1;
    pointer-events: all;

}
.copy-popup.active{
    transform: translateY(0px);
}

.save-container, .library-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-in-out;
}
.save-modal, .library-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 3px;
    background-color: white;
    padding: 6rem 7rem 4rem 7rem;
    border-radius: 0.6rem;
    transform: translateY(30px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-in-out;
}

.library-modal{
    min-width: 40%;
    padding: 1rem;
    justify-content: flex-start;
    overflow-y: scroll;
    max-height: 50vh;
}

.save-modal input{
    height: 4rem;
    width: 25rem;
    font-size: 2rem;
}

.save-palette-btn{
    padding: 0.5rem 1rem;
    margin-top: 2.5rem;
}

.close-save{
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 0.5rem 1rem;
    cursor: pointer;

}

.close-library{
  position: fixed;
  top: 0;
  right: 0;
  padding: 2px 12px;  
}

.save-container.active, .library-container.active{
    opacity: 1;
    pointer-events: all;

}
.save-modal.active, .library-modal.active{
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
}

.preview-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 2rem;
}

.title{
    font-size: 2rem;
    flex: 1;
}

.preview{
    height: 4.5rem;
    width: 5rem;
    display: flex;
    flex: 1;
    margin-right: 1rem;
    border-radius: 1rem;
}
.small-div{
    height: 100%;
    width: 20%;
}