*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.calculator{
    display: grid;
    grid-template-areas: 'input input input input';
    grid-row: inherit;
    height: 100vh;
    grid-gap: 2px;
    background-color: black;
}

.buttons{
    cursor: pointer;
    font-size: 2rem;
    border: none;
    background-color: black;
    color: white;
}

.input{
    padding-top: 70px;
    padding-right: 30px;
    color: white;
    grid-area: input;
    text-align: right;
    font-size: 7rem;
}

.equal{
    grid-column-start: 3;
    grid-column-end: 5;
}

.decimal{
    font-weight: bolder;
}

.functions{
    color: white;
    background-color: rgb(241, 112, 20);
}
