* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/*
============
font families     
============
   
----------------------------------------------
font-family: 'Nixie One', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Pattaya', sans-serif;
font-family: 'Cinzel Decorative', cursive; 
font-family: 'Petit Formal Script', cursive;
----------------------------------------------
*/

.navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  margin: auto;
  /* background-color: black; */
}

.navbar p{
  display: none;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar li {
  margin: 0rem 3rem;
  font-family: "Nixie One", sans-serif;
  font-size: 1.75rem;
}

.navbar li a {
  color: white;
  text-decoration: none;
}

.burger{
  position: absolute;
  display: none;
  top: 1.75rem;
  right: 2rem;
  cursor: pointer;
  z-index: 3;
}

.logo {
  margin: 0rem 4rem;
  font-size: 2.2rem;
}

.fa-camera-retro {
  color: white;
  background-color: black;
}

.background {
  height: 100vh;
  width: 100%;
  z-index: -1;
  overflow-y: hidden;
}

.background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title {
  font-size: 5.7rem;
  color: white;
  font-family: "Nixie One", cursive;
  font-weight: lighter;
  letter-spacing: 4px;
  text-align: center;
  position: absolute;
  left: 10%;
  top: 50%;
  text-shadow: 0px 0px 10px white;
}
.slides {
  top: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide {
  margin: 2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.img {
  margin: 2rem;
  flex-basis: 50%;
  border-radius: 1rem;
  box-shadow: 0px 0px 2rem gray;
}

.img img {
  box-shadow: 0px 0px 1rem gray;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text {
  flex-basis: 50%;
}

.text1,
.text3 {
  margin: 0 0 0 10rem;
}

.text2 {
  margin: 0 10rem 0 2rem;
}

.text h2 {
  font-family: "Pattaya", sans-serif;
  font-weight: bolder;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  margin-bottom: clamp(1rem,3vw, 4rem);
}

.text p {
  font-size:clamp(.89rem, 1vw, 1.35rem) ;
  width: 85%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: clamp(1rem, 1.7vw, 2rem);
  color: rgb(90, 90, 90);
}

.slider-main{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgb(119, 119, 119),rgb(5, 5, 5));
}

.slider-main h2{
  font-size: 3.5rem; 
  font-family: 'Pattaya', sans-serif;
  margin: 2.5rem 0rem;
  color: white;
}

.slider {
  height: 70vh;
  width: 50%;
  margin-bottom: 2rem;
}

.splide {
  width: 100%;
  height: 100%;
}

.splide__arrow{
  background: transparent;
  width: auto;
  height: auto;
}

.splide__arrow i{
  color: black;
  opacity: 1;
  font-size: 2.5rem;
  transition: all 0.2s ease-in-out;
}

.splide__arrow i:hover{
  transform: scale(1.1);
}

.splide__track{
  width: 100%;
  height: 100%; 
}

.splide__slide {
  text-align: center;
  font-size: 3rem;
  color: white;
  height: 100%;
  width: 100%;
  
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items:center;
  justify-content: center;
}

.splide__slide img{
  height: 100%;
  object-fit: cover;
}

.slider-text{
  font-size: clamp(0.7rem, 1.4vw, 1.5rem);
  font-family: 'Raleway', sans-serif;
  color: white;
  width: 70%;
  line-height: 2.2rem;
  letter-spacing: 2px;
  margin-bottom: 3rem;
}

footer{
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div{
  font-size: 1rem;
}

@media only screen and (max-width :1200px) {
  .navbar{
    background-color: black;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .navbar p{
    display: flex;
    color: white;
    font-family: 'Nixie One', cursive;
    font-size: 4rem;
    flex-basis: 40%;
    text-align: right;
  }
  .navbar ul{
    flex-direction: column;
    flex-basis: 40%;
    align-items: flex-start;
  }
  .navbar li{
    font-size: 3rem;
    text-align: left;
    margin:1rem 0rem ;
  }
  .logo{
    position: absolute;
    top: 2rem;
    left: 0rem;
  }
  .burger{
    display: flex;
    flex-direction: column;
  }
  .line{
    width: 40px;
    height: 3px;
    border-radius: 50px;
    background-color: white;
    margin: 4px;
  }
}