*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.burger{
    margin: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 0px;
    transition: all 0.4s ease-in-out;
}

.line{
    margin: 4px;
    height: 1px;
    width: 25px;
    background-color:white;
    border-radius: 5vw;
}

.close{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 4vw;
    margin: 8vw 0vw 0vw 8vw;
    filter: invert();
    z-index: 3;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.navbar{
    position: absolute;
    left: -100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 2;
    transition: all 0.4s ease-in-out;
}

.navbar ul{
    font-size: 5vw;
    letter-spacing: 1vw;
    font-family: 'Nixie One', sans-serif;
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: all 0.4s ease-in-out;

}

.options{
    text-decoration: none;
    color: white;
}

 .background{
    width: 100%;
    height: 60vw;
}

.bg {
    width: 100%;
    position: absolute;
    top: 0rem;
    z-index: -1;
}

.img{
    width: 50vw;
    height: auto;
    box-shadow: 0px 0px 0px 10px grey;
}

.image1, .image2, .image3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7vw 5rem;
}

.image2{
    flex-direction: column-reverse;
}

.text{
    padding: 15vw 0vw 12vw 0vw;
    text-align: center;
}
.text h2{
    padding: 0vw 0vw 2vw 0vw;
    font-family: 'Pattaya', sans-serif ;
    font-size: 5.5vw;
    font-weight: 100;
}

.text p{
    font-family: 'pavanam', sans-serif;
    font-size: 2.5vw;
    line-height: 2.5rem;
    letter-spacing: 2px;
}

.box{
    box-shadow: 0px -2px 0px 30px grey;
    border-radius: 2px;
}

.carousel{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    width: 100vw;
    background:linear-gradient(to bottom, rgba(144, 144, 144, 1),rgba(21, 21, 21, 1)) ;
}

.carousel h1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    padding: 2rem;
    font-family: 'Rochester', sans-serif ;
    font-size: 6.5vw;
    font-weight: 100;
    word-spacing: 5px;

}

.carousel p{
    font-family: 'pavanam', sans-serif;
    text-align: center;
    padding: 5vw 10vw 5vw 5vw; 
    line-height: 2.5rem;
    letter-spacing: 2px;
}

.contact-us{
    height: 60vh;
}

@media only screen and (min-width: 760px) {
    .image1,.image2 , .image3{
        flex-direction: row;
    }
    .img{
        width: 40vw;
        height:auto;
    }

    .img3{
        width: 30vw;
    }

    .text{
        width: 50vw;
        padding: 5vw;
    }

    .text h2{

        font-size: 2.5vw;
        margin: 0px;
    }
    .text p{
        font-size: 1vw;
    }
}