*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
============
font families     
============
   
---------------------------------------

font-family: 'Nixie One', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Pattaya', sans-serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Petit Formal Script', cursive;

---------------------------------------
*/

.img{
    width: 100%;
    height: 50vh;
    background-color: black;
    margin: 10rem 0rem;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5rem;
    margin: 0rem 5rem 5rem 5rem;
}

.cards{
    width: 100%;
    height: 26vw;
    background-color: rgba(196, 196, 196, 1);
    border-radius: 3rem;
    position: relative;
}

.cards::after{
    content: 'Var + Kanya';
    font-size: 2.8rem;
    font-family: 'Cinzel Decorative', cursive;
    text-decoration: none;
    color: white;   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0),rgb(0, 0, 0));
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.cards:hover::after{
    opacity: 1;
}

/* second page */

.title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8rem 0rem;
    font-family: 'Cinzel Decorative', cursive;
}

.title h1{
    font-size: clamp(4rem,5vw,7rem);
    margin-bottom: 2rem;
}

.title p{
    font-size: 1.2rem;
}

.main-photo{
    width: 100%;
    height: 45vh;
    background-color: gray;
}

.family-name{
    width: 100%;
    font-family: 'Cinzel Decorative', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 6rem 0rem;
}

.links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0rem auto 6rem auto; 
    font-size: 1.5rem;
}

.links a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.grid-container{
    column-count: 3;
    column-width: 300px;
    gap: 9px;
    width: 90%;
    margin: 0rem auto ;
}

.grid-items{
    margin: 0 auto 5px ;
    width: 100%;
    box-shadow: 0px 0px 5px gray;
}